<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <localRepository>/usr/local/maven/repository</localRepository>

  <pluginGroups></pluginGroups>
  <proxies></proxies>

  <servers>
    <server>
      <id>huolan-releases</id>
      <username>admin</username>
      <password>Admin123</password>
    </server>
    <server>
      <id>huolan-snapshots</id>
      <username>admin</username>
      <password>Admin123</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>aliyunmaven</id>
      <mirrorOf>central</mirrorOf>
      <name>阿里云公共仓库</name>
      <url>https://maven.aliyun.com/repository/public</url>
    </mirror>
    <mirror>
      <id>yfmaven</id>
      <mirrorOf>huolan-repo</mirrorOf>
      <name>内部公共仓库</name>
      <url>http://192.168.1.85:8082/artifactory/maven-public/</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>huolan</id>
      <repositories>
        <repository>
          <id>huolan-repo</id>
          <name>Huolan Repository</name>
          <url>http://192.168.1.85:8082/artifactory/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <properties>
        <altReleaseDeploymentRepository>
          huolan-releases::default::http://192.168.1.85:8082/artifactory/maven-release-local/
        </altReleaseDeploymentRepository>
        <altSnapshotDeploymentRepository>
          huolan-snapshots::default::http://192.168.1.85:8082/artifactory/maven-snapshot-local/
        </altSnapshotDeploymentRepository>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>huolan</activeProfile>
  </activeProfiles>
</settings>
