kind: Pod
apiVersion: v1
metadata:
  name: jnlp
  namespace: jenkins
spec:
  containers:
  - name: jnlp
    image: jenkins/inbound-agent:latest-jdk17
    imagePullPolicy: IfNotPresent
    env:
      - name: K8S_NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: K8S_NODE_IP
        valueFrom:
          fieldRef:
            fieldPath: status.hostIP
  - name: gradle
    # image: gradle:4.10.3-jdk8
    image: gradle:6.9.4-jdk8
    env:
      - name: GRADLE_OPTS
        value: '-Xms512m -Xmx2g'
    resources: # 资源配额
      limits:  # 限制资源（上限）
        cpu: 2000m # CPU限制
        memory: 4000Mi # 内存限制
      requests: # 请求资源（下限）
        cpu: 1500m  # CPU预留
        memory: 2000Mi  # 内存预留
    imagePullPolicy: IfNotPresent
    volumeMounts:
    - mountPath: /home/gradle/.gradle/caches/modules-2/files-2.1
      name: jenkins-maven
    command:
      - cat
    tty: true
  - name: docker
    image: docker:latest
    imagePullPolicy: IfNotPresent
    env:
      - name: DOCKER_BUILDKIT
        value: 0
    volumeMounts:
    - mountPath: /var/run/docker.sock
      name: dockersock
    command:
      - cat
    tty: true
  - name: buildah
    image: quay.io/buildah/stable:latest
    imagePullPolicy: IfNotPresent
    env:
      - name: LANG
        value: "C.UTF-8"
    command:
      - cat
    tty: true
    securityContext:
      privileged: true
    volumeMounts:
      - name: registries-conf
        mountPath: /etc/containers/registries.conf
        subPath: registries.conf
  volumes:
    - name: jenkins-maven
      persistentVolumeClaim:
        claimName: jenkins-maven
    - name: dockersock
      hostPath:
        path: /var/run/docker.sock
    - name: registries-conf
      configMap:
        name: buildah-registries-conf
