kind: Pod
apiVersion: v1
metadata:
  name: jnlp
  namespace: jenkins
spec:
  # securityContext:
  #   runAsUser: 0
  containers:
  - name: jnlp
    image: jenkins/inbound-agent:jdk21
    imagePullPolicy: IfNotPresent
  - name: maven
    image: maven:3.9-eclipse-temurin-8
    imagePullPolicy: IfNotPresent
    command:
      - cat
    env:
      - name: MAVEN_OPTS
        value: '-Xmx2g'
      - name: K8S_NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: K8S_NODE_IP
        valueFrom:
          fieldRef:
            fieldPath: status.hostIP
    resources:
      limits:
        cpu: 2500m
        memory: 4000Mi
      requests:
        cpu: 1000m
        memory: 2000Mi
    volumeMounts:
      - mountPath: /usr/local/maven/repository
        name: jenkins-maven
    tty: true
  # - name: docker
  #   image: docker:dind
  #   imagePullPolicy: IfNotPresent
  #   command:
  #     - cat
  #   env:
  #     - name: DOCKER_BUILDKIT
  #       value: '0'
  #   volumeMounts:
  #     - mountPath: /var/run/docker.sock
  #       name: dockersock
  #   tty: true
  # - name: kaniko
  #   # 使用 debug 镜像是因为 latest 镜像中没有常用的 shell 工具（如 cat）
  #   # Jenkins pod 模板默认通过 `cat` 命令保持容器存活，否则构建会失败
  #   # image: gcr.io/kaniko-project/executor:latest
  #   image: gcr.m.daocloud.io/kaniko-project/executor:debug
  #   imagePullPolicy: IfNotPresent
  #   command:
  #     - cat
  #   env:
  #     - name: KANIKO_REGISTRY_MAP
  #       value: index.docker.io=docker.m.daocloud.io
  #   tty: true
  #   volumeMounts:
  #     - name: kaniko-secret
  #       mountPath: /kaniko/.docker/config.json
  #       subPath: .dockerconfigjson
  #       readOnly: true
  - name: buildah
    # image: quay.io/buildah/stable:latest
    image: quay.nju.edu.cn/buildah/stable:latest
    imagePullPolicy: IfNotPresent
    env:
      - name: LANG
        value: "C.UTF-8"
    command:
      - cat
    tty: true
    securityContext:
      privileged: true
    volumeMounts:
      - name: registries-conf
        mountPath: /etc/containers/registries.conf
        subPath: registries.conf
  - name: kubectl
    image: bitnami/kubectl:1.26.15
    imagePullPolicy: IfNotPresent
    command:
      - cat
    tty: true
    securityContext:
      runAsUser: 1000
  volumes:
    # - name: dockersock
    #   hostPath:
    #     path: /var/run/docker.sock
    # - name: kaniko-secret
    #   secret:
    #     secretName: regcred
    - name: registries-conf
      configMap:
        name: buildah-registries-conf
    - name: jenkins-maven
      persistentVolumeClaim:
        claimName: jenkins-maven
