kind: Pod
apiVersion: v1
metadata:
  name: jnlp
  namespace: jenkins
spec:
  containers:
  - name: jnlp
    image: jenkins/inbound-agent:latest-jdk17
    imagePullPolicy: IfNotPresent
    env:
      - name: K8S_NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: K8S_NODE_IP
        valueFrom:
          fieldRef:
            fieldPath: status.hostIP
  - name: node
    image: yaokun/node:20
    imagePullPolicy: IfNotPresent
    env:
      - name: NODE_OPTIONS
        value: '--max-old-space-size=3072'
    resources: # 资源配额
      limits:  # 限制资源（上限）
        cpu: 3000m # CPU限制
        memory: 4500Mi # 内存限制
      requests: # 请求资源（下限）
        cpu: 2000m  # CPU预留
        memory: 2000Mi  # 内存预留
    command:
      - cat
    tty: true
    # volumeMounts:
    # - mountPath: /data/.pnpm-store
    #   name: node-pnpm
  - name: docker
    image: docker:latest
    imagePullPolicy: IfNotPresent
    env:
      - name: DOCKER_BUILDKIT
        value: 0
    volumeMounts:
    - mountPath: /var/run/docker.sock
      name: dockersock
    command:
      - cat
    tty: true
  - name: buildah
    image: quay.io/buildah/stable:latest
    imagePullPolicy: IfNotPresent
    env:
      - name: LANG
        value: "C.UTF-8"
    command:
      - cat
    tty: true
    securityContext:
      privileged: true
    volumeMounts:
      - name: registries-conf
        mountPath: /etc/containers/registries.conf
        subPath: registries.conf
  volumes:
    # - name: node-pnpm
    #   persistentVolumeClaim:
    #     claimName: node-pnpm
    - name: dockersock
      hostPath:
        path: /var/run/docker.sock
    - name: registries-conf
      configMap:
        name: buildah-registries-conf