kind: Pod
apiVersion: v1
metadata:
  name: jnlp
  namespace: jenkins
spec:
  containers:
  - name: jnlp
    image: jenkins/inbound-agent:latest-jdk21
    imagePullPolicy: IfNotPresent
  - name: node
    image: yaokun/node:20
    imagePullPolicy: IfNotPresent
    env:
      - name: NODE_OPTIONS
        value: '--max-old-space-size=3072'
      - name: K8S_NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: K8S_NODE_IP
        valueFrom:
          fieldRef:
            fieldPath: status.hostIP
    resources:
      limits:
        cpu: 3000m
        memory: 4500Mi
      requests:
        cpu: 2000m
        memory: 2000Mi
    command:
      - cat
    tty: true
    # volumeMounts:
    # - mountPath: /data/.pnpm-store
    #   name: node-pnpm
  - name: docker
    image: docker:latest
    imagePullPolicy: IfNotPresent
    env:
      - name: DOCKER_BUILDKIT
        value: 0
    volumeMounts:
    - mountPath: /var/run/docker.sock
      name: dockersock
    command:
      - cat
    tty: true
  - name: buildah
    image: quay.io/buildah/stable:latest
    imagePullPolicy: IfNotPresent
    env:
      - name: LANG
        value: "C.UTF-8"
    command:
      - cat
    tty: true
    securityContext:
      privileged: true
    volumeMounts:
      - name: registries-conf
        mountPath: /etc/containers/registries.conf
        subPath: registries.conf
  volumes:
    # - name: node-pnpm
    #   persistentVolumeClaim:
    #     claimName: node-pnpm
    - name: dockersock
      hostPath:
        path: /var/run/docker.sock
    - name: registries-conf
      configMap:
        name: buildah-registries-conf